
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background: #caac80;
    cursor: default;
}


.color-selector-box {
    position: fixed;
    left: 2vw;
    background-color: #4B413F;
    height: 90vh;
    line-height: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: scroll;
    padding: 2em 2.4em 1em 2em;
    border: solid 1px black;
}
.btn-toolbar {
    margin-top: 5vh;
}

.btn-group, .btn-group-vertical {
    padding: 1em;
}

#print-loom {
    position: absolute;
    right: 2em;
    top: 2em;
}

.color-selector {
    -webkit-user-select: none;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0 -0.4em 0 0;
    user-select: none;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.color-selector.selected {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 4px #000;
    border: 2px solid #747e93;
    margin-top: -2px;
}

.color-selector.selected.white {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 4px #000;
    border: 2px solid #78909C;
    margin-top: -2px;
}

.color-selector.v-invalid .color-selector {
    border-color: #a94442;
    box-shadow: 0 1px 5px #a94442;
}

/*******************************************
 *                  LOOM                   *
 *******************************************/

.loom {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.print-view {
    float: left;
    padding: 25px;
    background-color: white;
}
.bead-row {
    line-height:0;
}

.bead button {
    display: inline-table;
    position: relative;
    width: 10px;
    height: 30px;
    margin: -1px 0;
    border: solid #a9a6ae 1px;
    border-radius: 20px;
}

.bead span {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

.bead button:hover {
    padding: 5px 7.5px;
}
