html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background: #caac80;
    cursor: default;
}


.color-selector-box {
    background-color: #e8d5b1;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:10px;
    border:solid 1px black;
}

label {
    width: 2.5em;
    border-radius: 100%;
    border: hidden;
}

/* hide input */
input.radio-inline {
    display: none;
}

/* style label */
input.radio-inline:empty ~ label {
    position: relative;
    margin: 5px;
    float: left;
    line-height: 2.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio-inline:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    border-radius:100%;
    border: hidden;
}

/* toggle hover */
input.radio-inline:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .1em;
    color: #C2C2C2;
    box-shadow: 0 0 0 3px #C2C2C2;

}

input.radio-inline:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio-inline:checked ~ label:before {
    content:'\2714';
    text-indent: 0.1em;
    border: hidden;
    /*box-shadow: 0 0 0 3px #FFF;*/
}

input.radio-inline:checked ~ label {
    color: #FFF;
}

input.white.radio-inline:checked ~ label:before {
    content:'\2714';
    text-indent: 0.1em;
    border: hidden;
    /*box-shadow: 0 0 0 3px #555;*/
}

input.white.radio-inline:checked ~ label {
    color: #555;
    border:hidden;
    /*box-shadow: 0 0 0 3px #555;*/
}

/*******************************************
 *                  LOOM                   *
 *******************************************/

.panel-loom {
    position: relative;
    max-width: 50vw;
    margin: 200px auto;
}

.panel-loom .btn {
    position: absolute;
    max-width: 5vw;
    text-align: center;
    bottom: -60px;
    margin: auto;
}

.bead-row {
    line-height:0;
}

.bead button {
    display: inline-table;
    position: relative;
    width: 10px;
    height: 30px;
    margin: -1px 0;
    border: solid #a9a6ae 1px;
    border-radius: 20px;
}

.bead span {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

.bead button:hover {
    padding: 5px 7.5px;
}
